*{
    margin: 0;
    padding: 0;

}

#box{
    border: 2px solid red;
    height: 50vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
