*{
    margin: 0;
    padding: 0;

}
body{
    background-color: blue;

}

#box{
    /* border: 2px solid red; */
    color: white;
    height: 50vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
